<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.2/dist/katex.min.css" integrity="sha384-Cqd8ihRLum0CCg8rz0hYKPoLZ3uw+gES2rXQXycqnL5pgVQIflxAUDS7ZSjITLb5" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <style>
    html, body {
      font-family: 'PT Serif', serif;
      font-size: 14px;
    }

    .divider {
      margin-top: 1rem;
      margin-bottom: 2rem;
      border-top: 1px solid #222;
    }

    h1 {
      font-size:18px;
    }

    h3 {
      color: #777;
      font-size:14px;
    }

    h4 {
      font-size:16px;
    }

    .paperDescription {
      color: #aaa;
    }

    img {
      max-width: 100%;
    }

    .imageWrapper {
      text-align: center;
    };


    p {
      margin-top: 0;
      margin-bottom: .5em;
    }

    table {
      width: 100%;
      border: 1px solid #222;
      border-collapse: collapse;
    }

    table td {
      min-width: 50px;
      padding: 5px;
    }

    table thead td {
      font-weight: bold;
      text-align: center;
      background: #e5e5e5;
    }

    table tr, table td {
      border: 1px solid #222;
      border-collapse: collapse;
    }


    section {
      page-break-after: always;
    }

    .questionContainer {
      display: flex;
      margin-bottom: 1rem;
    }

    .questionReference {
      color: #999;
    }

    .questionContainer > .questionNumber {
      min-width: 2em;
      padding-right: .5em;
    }

    .questionContainer > .question {
      flex: 1;
      font-family: 'PT Serif';
    }

    .questionContainer > .questionMarks {
      min-width: 2em;
      padding-left: .5em;
      text-align: right;
    }

    .latexImageWrapper {
      text-align:center;
    }

    .latexImageWrapperInline {
      display: inline-block;
      vertical-align: middle;
    }

  </style>
</head>
  <body>
    <h1> <%= htmlWebpackPlugin.options.myPageHeader %> </h1>
    <div id="app"></div>
  </body>
</html>
